<section class="index-link">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="link-area">
                    <h3>ABOUT US</h3>
                    <p>We are UP India based export import company.Dealing in Horn and Bone jwellery and Redemade Garments like Jubba and Jeans.</p>
                    <h4>Follow Us On</h4>
                    <li class="fa-li"><a href="https://twitter.com/Shadabshs"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
                    <li class="fa-li"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="fa-li"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>PRODUCT</h3>
                    <ul>
                    <li><a href="#"> Horn Products</a></li>
                    <li><a href="#"> Bone Products</a></li>
                    <li><a href="#"> Garments</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>COMPANY</h3>
                    <ul>
                    <li><a href="/"> Home</a></li>
                    <li><a href="/products"> Products</a></li>
                    <li><a href="/enquiryform"> Enquiry</a></li>
                    <li><a href="/contact-us"> Contact-Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                
            </div>
        </div>
    </div>
</section>

<section class="index-social">
    <div class="container">
    <div class="row index-social-link text-center">
            <p class="copy-c">Exporter LLP</p>
        </div>
        </div>
</section>
</body>
</html>