<!DOCTYPE html>
<html>
  <header class="jumbotron container">
    <head>
        <title>Exporter</title>
        <div class="pull-right"><h4 style="color:red;">QUICK CONTACT <p style="color:blue">+91-8265967657</p></h4></div>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <h1 style="text-align:center">Exporter</h1>
    <div id="navbarr">
        <nav class="navbar navbar-default">
  <div class="container" style="width:50%">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li class="active"><a href="/products">Products</a></li>
      <li class="active"><a href="/enquiryform">Enquiry</a></li>
      <li class="active"><a href="/contact-us">Contact Us</a></li>
    </ul>
  </div>
</nav>
</div>
  </header>
    <body style="background:#C9D6FF">

    
        
        

        
    