<% include partials/header %>
<h1 style="text-align:center;">Horn Products</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="uploads/1 bracelet one piece RS 200.jpeg">
            </div>
        </div>
                <div class="col-sm-4">
            <div class="thumbnail">
                <img src="/uploads/WhatsApp Image 2018-02-12 at 9.54.53 PM.jpeg">
            </div>
        </div>
                <div class="col-sm-4">
            <div class="thumbnail">
                <img src="/uploads/WhatsApp Image 2018-02-12 at 9.54.54 PM.jpeg">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="/uploads/WhatsApp Image 2018-02-12 at 9.55.18 PM.jpeg">
            </div>
        </div>
                <div class="col-sm-4">
            <div class="thumbnail">
                <img src="/uploads/WhatsApp Image 2018-02-12 at 9.54.56 PM.jpeg">
            </div>
        </div>
                <div class="col-sm-4">
            <div class="thumbnail">
                <img src="/uploads/WhatsApp Image 2018-02-12 at 9.54.55 PM.jpeg">
            </div>
        </div>
    </div>
</div>













<% include partials/footer %>